* {
  margin: 0;
  padding: 0;
}

@media (max-width:1200px) {
  html {
    font-size: 16px;
  }
}

@media (max-width:850px) {
  html {
    font-size: 8px;
  }
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

#next-box {
  width: 12.5rem;
  height: 3.375rem;
  line-height: 3.375rem;
  text-align: center;
  border-radius: 1.6875rem;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-12.5rem);
  background-color: #fff;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  background: #111;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 12.5rem;
  height: 12.5rem;
  /* 核心代码 */
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transform: rotateX(13deg);
  animation: move 8s linear infinite;
}

.minbox {
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  top: 1.875rem;
  left: 3.125rem;
  /* 核心代码 */
  transform-style: preserve-3d;
}

.minbox li {
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
}

.minbox li:nth-child(1) {
  /* background: url(images/11.jpg) no-repeat 0 0; */
  transform: translateZ(3.125rem);
}
.minbox li:nth-child(2) {
  /* background: url(images/12.jpg); */
  transform: rotateX(180deg) translateZ(3.125rem);
}
.minbox li:nth-child(3) {
  /* background: url(images/13.jpg); */
  transform: rotateX(-90deg) translateZ(3.125rem);
}
.minbox li:nth-child(4) {
  /* background: url(images/14.jpg); */
  transform: rotateX(90deg) translateZ(3.125rem);
}
.minbox li:nth-child(5) {
  /* background: url(images/15.jpg); */
  transform: rotateY(90deg) translateZ(3.125rem);
}
.minbox li:nth-child(6) {
  /* background: url(images/16.jpg); */
  transform: rotateY(-90deg) translateZ(3.125rem);
}

.maxbox {
  /* width: 800px;
  height: 400px; */
  position: absolute;
  left: 0;
  top: -1.25rem;
  transform-style: preserve-3d;
}

.maxbox li {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: all 2s ease;
}

.maxbox li:nth-child(1) {
  /* background: url(images/18.jpg); */
  transform: translateZ(6.25rem);
}
.maxbox li:nth-child(2) {
  /* background: url(images/19.jpg); */
  transform: rotateX(180deg) translateZ(6.25rem);
}
.maxbox li:nth-child(3) {
  /* background: url(images/20.jpg); */
  transform: rotateX(-90deg) translateZ(6.25rem);
}
.maxbox li:nth-child(4) {
  /* background: url(images/17.jpg); */
  transform: rotateX(90deg) translateZ(6.25rem);
}
.maxbox li:nth-child(5) {
  /* background: url(images/16.jpg); */
  transform: rotateY(-90deg) translateZ(6.25rem);
}
.maxbox li:nth-child(6) {
  /* background: url(images/15.jpg); */
  transform: rotateY(90deg) translateZ(6.25rem);
}

.box:hover ol li {
  width: 25rem;
  height: 25rem;
  opacity: 0.8;
  left: -6.25rem;
  top: -6.25rem;
}

.box:hover ol li:nth-child(1) {
  transform: translateZ(18.75rem);
}
.box:hover ol li:nth-child(2) {
  transform: rotateX(180deg) translateZ(18.75rem);
}
.box:hover ol li:nth-child(3) {
  transform: rotateX(-90deg) translateZ(18.75rem);
}
.box:hover ol li:nth-child(4) {
  transform: rotateX(90deg) translateZ(18.75rem);
}
.box:hover ol li:nth-child(5) {
  transform: rotateY(-90deg) translateZ(18.75rem);
}
.box:hover ol li:nth-child(6) {
  transform: rotateY(90deg) translateZ(18.75rem);
}

@keyframes move {
  0% {
    transform: rotateX(13deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(13deg) rotateY(360deg);
  }
}
